.custom-active{
    color: rgb(116, 197, 116) !important;
}
.custom-selectable a{
    color: black;
}
.custom-selectable a:hover{
    background: padding-box;
    background-color: rgb(201, 224, 201);
    text-decoration: none;
    border-radius: 20px;
    
}

div.fixed {
    position: fixed;
}

textarea.textarea-autosize {
  border: none;
  overflow: auto;
  outline: none;
  

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 20px;

  resize: none; /*remove the resize handle on the bottom right*/
  }

  textarea.textarea-autosize:focus {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  
  textarea.textarea-autosize.form-control-lg {
    height: 3.75rem;
    min-height: 3.75rem;
  }
  
  textarea.textarea-autosize.form-control-sm {
    height: 2rem;
    min-height: 2rem;
  }

  span.strong{
    font-size: 18px;
    font-style: italic;
    font-family: cursive;
  }

  .comments_div{
    background-color: whitesmoke;
  }
  .post-header{
    background-color: rgb(236, 243, 236);
  }

  .small-text{
    font-size: 11px;
  }

  .small-grey-text{
    font-size: 12px;
    color: gray;
  }

  .user_profile_cap {
    width: 100%;
    height: 300px;
    border: 1px solid #DDD;
    /* -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px; */
    overflow:hidden;
  }
  
  .user_profile_cover img {
    
      width: 100%;
      height: 200px;
      /* -webkit-border-top-left-radius: 20px;
      -webkit-border-top-right-radius: 20px;
      -moz-border-radius-topleft: 20px;
      -moz-border-radius-topright: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px; */
         
  
  }
  
  .user_profile_headline {
    padding: 10px;
    font-size: 16px;
  }

  .user_profile_headline button {
    border-radius: 20px;
  }
  .user_profile_headline img{
      border:1px solid #f3f7f6;
      padding: 5px;
      width:150px;
      height:150px;
      float:left;
      margin:-90px 20px 0  20px;
      position:relative;
      z-index:1;
      border-radius: 50%;
      object-fit: contain;
      
      background-color:white;
  }

.profile-list{
    height: 120px;
    
}

  .profile-list img{
    border:1px solid #f3f7f6;
    padding: 5px;
    width:100px;
    height:100px;
    float:left;
    margin:-14px 17px 18px 15px;
    position:relative;
    /* z-index:1; */
    border-radius: 50%;
    object-fit: contain;
    background-color:white;
}

.profile-list p{
   
  margin:0;
  padding:0;
  font-size:15px;
  font-weight:bold;
  display:block;
}

.profile-list span{
  font-size:12px;
  font-family:verdana;
  color:gray;

}

.thumb_image img{
  border:1px solid #f3f7f6;
  padding: 3px;
  width:50px;
  height:50px;
  position:relative;
  border-radius: 50%;
  object-fit: contain;
  background-color:white;
}
.user_profile_headline h2{
  
    margin:0;
    padding:0;
    font-size:20px;
    font-weight:bold;
    display:block;
}
.user_profile_headline span{
    font-size:12px;
    font-family:verdana;
    color:gray;
  
}



